.content {
    max-width: 1200px;
    margin: 100px auto 0; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content h1 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #333;
}

.content p {
    line-height: 1.6;
    margin-bottom: 16px;
    color: #555;
}


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cacbcb;
    color: #333;
}

.custom-navbar {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
    height: 60px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #196ae2;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #0d6efd;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #0d6efd;
}

.search-button {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    padding: 6px 12px;
    margin-left: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        gap: 10px;
        margin-top: 10px;
    }

    .search-container {
        width: 100%;
        margin-top: 10px;
    }
}

div img {
    background-size: cover;
    width: 400px;
    height: 300px;
    border: 2px solid #ff3d0036;
    border-radius: 13px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin: 25px;
    transition: 400ms;
}

div img:hover {
    
    transform: scale();
}

.wa-container {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.small-icon {
    width: 60px; 
    height: 60px; 
}

.wa {
    font-size: 16px;
    text-decoration: none;
    background-color: #25d366;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
}

.ig {
    font-size: 16px;
    text-decoration: none;
    background-color: #25d366;
    color: #fff;
    padding: 8px 25px;
    border-radius: 50px;
}

.ig-container {
    display: flex;
    align-items: center;
    gap: 10px;   
}