* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(image/HD2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  width: 420px;
  background: transparent;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border: 2px solid rgba(14, 17, 41, 0.2);
  color: #fff;
  border-radius: 30px;
  padding: 30px 40px;
}

.wrapper h1 {
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .input-box {
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #fff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(-50%);
  font-size: 20px;
}

.wrapper .remfor {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remfor label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remfor a {
 color: #fff;
 text-decoration: none;
}

.remfor a:hover {
  text-decoration: underline;
}

.wrapper .login-button {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .donthave {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.donthave p a {
 color: #fff;
 text-decoration: none;
 font-weight: 600;
}

.donthave p a:hover {
  text-decoration: underline;
}

.wrapper .login-button:hover {
  color: #fff;
  background-color: #6a63ef;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  width: 24px;
  height: 24px;
}

.eye-icon:hover {
  color: #333;
}

.input-box {
  position: relative;
}

